<html lang = "en">
<%- include('./partials/head.ejs') %>

<body>
	<%- include('./partials/nav.ejs') %>
	<div class="About Content">
		<h2>About Content about content</h2>
		<p> About Content about contentAbout Content about contentAbout Content about contentAbout Content about contentAbout Content about content</p>
		<p> About Content about contentAbout Content about contentAbout Content about contentAbout Content about contentAbout Content about content</p>
		<p> About Content about contentAbout Content about contentAbout Content about contentAbout Content about contentAbout Content about content</p>
		<p> About Content about contentAbout Content about contentAbout Content about contentAbout Content about contentAbout Content about content</p>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>