<nav>
		<div class="site-title">
			<a href="/"><h1>Sales Blog</h1></a>
			<p>A Sales Blog</p>
		</div>
		<ul>
			<li><a href="/"><h1>Blogs</h1></a></li>
			<li><a href="/about"><h1>About</h1></a></li>
			<li><a href="/blogs/create"><h1>Create a new Blog</h1></a></li>
		</ul>
	</nav>